/* 

- HeaderTop

*/
.toolbar{
    margin:1.5rem 4rem;
}
.toolbar__item{
    justify-content: space-between;   
}
.toolbar__item-right{
    gap: 3rem;
    margin-right: 2rem;
}
.toolbar__phone{

}
.toolbar__spread{
    width: .7rem;
    height: .7rem;
    border: var(--gold-crayola) solid 1px;
    transform: rotate(45deg);
}
.toobar__gmail{

}
.toolbar__item-left{
    gap: 3rem;
}
.toolbar__address{

}
.toobar__gmail{

}
hr{
    height: .1rem;
}
.toolbar__icon{
    margin-right: .5rem;
}
.toolbar__icon, .gmail{
    width: 2rem;
    height: 2rem;
}
.toolbar__icon, .time{ 

}
.toolbar__icon, .phone{

}
.toolbar__icon, .address{

}